/* //////////////////// */
/* GENERAL */
/* //////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid #333; */
}
html{
    font-size: 62.5%;
}
body{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1;
    background-color: hsla(0, 20%, 94%, 0.816);;
}

/* ///////////////////// */
/* HEADER */
/* ///////////////////// */
.main-header{
    background-color: bisque;
}
.logo-img{
    height: 4rem;
    border-radius: 4rem;
    width: 4.2rem;
}
.list-items{
    padding-top: 2.5rem;
    display: flex;
    gap: 4rem;
    list-style-type: none;
    align-items: center;
    margin-bottom: 1.5rem;
    padding-bottom: 2rem;
    justify-content: space-evenly;
    font-size: 1.6rem;
}
.item-link:link, .item-link:visited{
    color: #333;
    text-decoration: none;
}
.item-link:hover, .item-link:active{
    color: #31bcc6c0;
    text-decoration: none;
}

.search{
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: #fff;
    width: 116rem;
    margin-left: 5rem;
    border-radius: 3rem;
}
.search-icon{
    width: 3rem;
    height: 2rem;
}
.search-text{
    background-color: antiquewhite;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 32rem;
}
.icon input{
    background-color: antiquewhite;
    border: inset 1px solid #111;
    border-radius: 1.2rem;
    padding: 0.6rem;
}
.search-paragraph{
    background-color: blue;
    padding: 0.5rem;
    /* background-color: #31bcc6c0; */
    background-color: aqua;
    border-radius: 1.8rem;
    color: #fff;
    font-size: 1.5rem;
    width: 8rem;
    height: 4rem;
    border: 1px solid aqua;
}
.search-paragraph input{
    width: 6rem;
    height: 3rem;
    border-radius: 1.5rem;
    background-color: aqua;
    border: 1px solid aqua;
}


.main-tours{
    display: flex;
    margin-top: 5.2rem;
    margin-left: 2rem;
}
.tour-category{
    background-color: #ffffff;
    height: 77rem;
    border-radius: 1.6rem;
    padding: 1.2rem;
    padding-right: 0.5rem;
}

.tour-map{
    height: 19rem;
    border-radius: 1.6rem;
}

.map{
    height: 15rem;
    width: 25rem;
    border-radius: 1.6rem;
}
.property-title{
    margin-top: 2rem;
}

.tags{
    display: grid;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    margin-top: 1rem;
}

.tag{
    margin-top: 2rem;
}
.type{
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-radius: 1.2rem;

}
.type{
    background-color: hsla(0, 20%, 94%, 0.816);
    color: #111;
    text-align: center;
    max-width: 9rem;
    display: inline-block;
    height: 2.5rem;
    width: 12rem;
    align-items: center;
    cursor: pointer;
}
.tag-text{
    margin-top: 0.5rem;
}
.budget{
    margin-top: 2rem;
    display: block;
}
.budget-text{
    font-size: 1.7rem;
    letter-spacing: 0.5px;
}
.day{
    /* margin-top: 1rem; */
    display: inline;
    background-color: blue;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    font-size: 1.4rem;
}
.budget-type{
    margin-top: 1rem;
    display: flex;
    gap: 3rem;
    width: 20rem;
    background-color: #989aa230;
    align-items: center;
    padding: 0.3rem;
    border-radius: 4rem;
}

.price-title{
    margin-top: 2rem;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
}
.price-type{
    display: flex;
    margin-top: 1rem;
    font-size: 1.7rem;
    letter-spacing: 0.5px;
    color: #333;
    background-color: #989aa266;
    padding: 0.5rem;
    width: 20rem;
    border-radius: 2rem;
    gap: 0.5rem;
    height: 3.5rem;
    align-items: center;
}
.price-min,
.price-max{
    background-color: #fff;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 1rem;
}

.rating{
    margin-top: 2rem;
    font-size: 1.5rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}
.rating-category::before{
    content: "";
    width: 1rem;
    background-color: antiquewhite;
    height: 1rem;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.3rem;
}
.tours{
    display: grid;
    gap: 1rem;
    margin-left: 1.5rem;
    grid-template-columns: 0.4fr 0.4fr 0.4fr;
}
.tour{
    /* margin-top: 2rem; */
    padding: 2rem;
    background-color: #fff;
    width: 27rem;
    /* padding-left: 2rem; */
    border-radius: 2rem;
    text-align: left;
    height: 33rem;
}
.price .tour-price.real{
    text-decoration: none;
}
.tour-img{
    position: relative;
    height: 20rem;
    width: 24rem;
    border-radius: 2rem;
}

.tour-title{
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    margin-top: 1rem;
}
.tour-link{
    text-decoration: none;
    color: #333;
}
.tour-people{
    margin-top: 1.5rem;
    color: #333;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.price{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
    font-size: 1.2rem;
}
.tour-price{
    text-decoration: line-through;
    letter-spacing: 0.5px;
    color: #333;
}
.discount-price{
    color: rgb(141, 18, 18);
    letter-spacing: 0.5px;
    font-weight: bold;
}
.tour-tag{
    text-decoration: none;
    color: green;
    background-color: lightblue;
    padding: 0.4rem;
    border-radius: 1.2rem;
    margin-top: -0.5rem;
    margin-left: 8rem;
}
.locations{
    position: absolute;
    margin-top: -19rem;
    display: flex;
    gap: 0.7rem;
    margin-left: 18rem;
}
.location,
.saved{
    width: 3rem;
    height: 1.6rem;
    background-color: #fff;
    border-radius: 1.2rem;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.2rem;
}

.stars{
    position: absolute;
    margin-bottom: 20rem;
    display: flex;
    gap: 0.5rem;
    margin-top: -18.5rem;
    margin-left: 0.7rem;
    color: yellow;
}
.tour-star{
    width: 1.4rem;
    height: 1.4rem;
}
