/* ////////////////////// */
/* HERO SECTION */
/* ////////////////////// */
.hero-section{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.15)), url("../img/Hawai.jpg");
    background-size: cover;
    height: 52rem;
    width: 100%;
}
.hero{
    display: grid;
    grid-template-columns: 0.8fr;
    margin: 0 auto;
    align-items: center;
    padding: 0 3.2rem;
    padding: 4.8rem 0 9.6rem 7rem;
}
.hero-primary{
    margin-top: 70px;
    margin-left: 30px;
}

.heading-primary{
    font-size: 5.2rem;
    line-height: 1.1;
    font-weight: 700;
    color: rgb(241, 238, 238);
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
    
}
.hero-description{
    font-size: 2rem;
    line-height: 1.5;
    color: rgba(209, 248, 206, 0.991);
    margin-bottom: 4.8rem;
}
.btn:link, .btn:visited{
    font-size: 2rem;
    background-color: #de701b;
    color: #f5f8f4e6;
    padding: 1.6rem 3.2rem;
    border-radius: 1.5rem;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn--outline:link, .btn--outline:visited{
    background-color: rgba(32, 99, 3, 0.829);
    color: #f5f8f4e6;
}
.btn--full:hover, .btn--full:active{
    background-color: #a75618;
}
.btn--outline:hover, .btn--outline:active{
    /* background-color: rgba(81, 216, 69, 0.669); */
    box-shadow: inset 0 0 0 3px #fff;
}
.header .logo{
    height: 6.4rem;
}

/* ////////////////////// */
/* NAVIGATION SECTION */
/* ////////////////////// */

.account{
    display: flex;
    gap: 2rem;
    margin-right: 25rem;
}
.hero-links{
    padding: 2rem;
    /* max-width: 320rem; */
    width: 50rem;
}
.login-paragraph,
.register-paragraph{
    border-radius: 1.2rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.login:link,
.login:visited{
    background-color: #04fa6f98;
    padding: 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.login:hover,
.login:active{
    background-color: #2904fa98;
    padding: 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}


.register:link,
.register:visited{
    background-color: #c5fa04c8;
    padding: 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}


.register:hover,
.register:active{
    background-color: #ed0b876d;
    padding: 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}


.main-nav-list{
    list-style: none;
    display: flex;
    gap: 3.2rem;
    align-items: center;
}
.main-nav-list-item:link, 
.main-nav-list-item:visited{
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.5s;
}
.main-nav-list-item:hover, 
.main-nav-list-item:active{
    color: #de701b;
}


/* ////////////////////// */
/* How-it-works SECTION */
/* ////////////////////// */

.step-text-box{
    background-color:  rgba(58, 126, 236, 0.087);
    margin: 2rem 0;
}

.how-img{
    height: 35rem;
}
.subheading{
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    margin: 6.5rem 0 1rem 0;
}
.heading-secondary{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
}
.class-tertiary{
    font-size: 2.8rem;
    color: #333;
    margin: 3.2rem 2.1rem;
    line-height: 1.2;
}
.step-description{
    font-size: 1.2rem;
    max-width: 30rem;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 2.2rem;
}
.mgn-down{    
    height: 35rem;
    /* margin-bottom: 3rem; */
}
.container .step-text-box:last-child{
    display: flex;
    flex-direction: column;
    .class-tertiary{
        margin-bottom: 3.9rem;
    }
    .how-img {
        margin-bottom: 2.5rem;
    }
}


/* ////////////////////// */
/* TOURS SECTION */
/* ////////////////////// */

.tours-h2{
    margin-top: 5.2rem;
    text-align: center;
    font-weight: 600;
    color: #333;
    font-size: 2rem;
}
.tours-text{
    text-align: center;
    margin-top: 1.2rem;
    font-size: 1rem;
}
.city-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.tour-1{
    width: 45rem;
    height: 8rem;
    background-color: #c9c4c065;
    margin: 1.2rem 1.2rem;
    margin-left: 4rem
}
.town.h-5 {
    font-size: 1.5rem;
    color: #333;
    margin-top: 1rem;
    font-weight: bold;
}
.home-city{
    font-size:2rem;
    margin-top: 0.8rem;
    color: #111;
}
.home-city{
    color: #05185c;
    font-weight: 600;
    font-size: 1.5rem;
}
.depart-time{
    margin-top: 1.2rem;
}

.depart-type{
    font-size: 1.2rem;
    font-weight: 400;
    color: #333;
}
.city-icon{
    height: 30px;
    width:60px;
}
.name-icon{
    margin: 0.5rem 0px 0.8rem 0;
}
.price{
    font-size: 1.5rem;
    font-weight: 600;
    color: #111;
}
.book-now{
    font-size: 1.2rem;
}
.price{
    margin-bottom: 1.8rem;
}
.book-now:link, 
.book-now:visited{
    color: #ffffff;
    background-color: blue;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
}
.book-now:hover,
.book-now:active{
    background-color: rgba(42, 237, 81, 0.66);
    color: #111;
}


/* ////////////////////// */
/* REVIEWS SECTION */
/* ////////////////////// */


.client-reviews{
    margin-top: 5.2rem;
    width: 100rem;
    background-color: antiquewhite;
    padding: 5rem;
    margin-left: 4rem;
}
.review-h6{
    font-size: 3.2rem;
    color: #333;
    padding-top: 30px;
}

.reviews-details.container.grid--4{
    margin-top: 50px;
    max-width: 100rem;
    margin-top: 60px;
    gap: 4rem;
}

.reviews-details.container {
    padding: 0;
    margin: 0;
    width: 90rem
}

.review-text{
    font-size: 1.1rem;
    width: 60rem;
    line-height: 1.5;
    margin-top: 1.4rem;
}

.tour-reviews{
    max-width: 300px;
    background-color: rgba(221, 214, 134, 0.676);
    padding: 2rem;
}
.reviewer-name{
    margin: 1.2rem 0 1rem 1.2rem; 
    font-size: 1.2rem;
    color: #111;
    font-weight: 600;
}
.reviewer-job{
    font-size: 1rem;
    color: #333;
    margin: 2.8rem 0 0rem -4rem;
}
.reviewer-text{
    margin-top: 1.5rem;
    line-height: 1.8;
    font-size: 1.2rem;
}
.customer-photo{
    height: 3.9rem;
    width: 3.9rem;
    border-radius: 1.9rem;
}
.customer-details{
    display: inline-flex;
}

.stars{
    margin-top: 2rem;
}

/* ////////////////////// */
/* ARTICLES SECTION */
/* ////////////////////// */
.travel-articles{
    margin-top: 7rem;
    background-color: #4e94d241;
    width: 98rem;
    margin-left: 5rem;
}
.article-header{
    padding-top: 5rem;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: #111;
}
.article-info{
    margin: 1rem 0 3rem 0;
    width: 600px;
    text-align: center;
    margin-left: 450px;
    font-size: 1rem;
    line-height: 1.5;
}
.article-big{
    padding: 1rem;
    background-color: rgba(197, 232, 191, 0.484);
    box-shadow: 0px 0px 0px 1px #2cec1e;
}

.img-nature{
    height: 30rem;
    width: 50rem;
    border-radius: 2%;
}
.article-date{
    margin: 2rem 0 1rem 0;
}

.article-title{
    font-size: 1.8rem;
    font-weight: 600;
    color: #111;
    line-height: 1.2;
}
.article-text{
    margin-top: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.5;
}
.links{
    margin-top: 1.2rem;
    text-decoration: none;
    color: blue;
}

.article-small{
    display: flex;
    flex-direction: column;
    column-gap: 10rem;
    row-gap: 1.2rem;
}
.article-1{
    display: flex;
    background-color: rgba(197, 232, 191, 0.484);
    box-shadow: 0px 0px 0px 1px #2cec1e;
    width: 32rem;

}
.article-2{
    display: flex;
    background-color: rgba(197, 232, 191, 0.484);
    box-shadow: 0px 0px 0px 1px #2cec1e;

}
.article-3{
    display: flex;
    background-color: rgba(197, 232, 191, 0.484);
    box-shadow: 0px 0px 0px 1px #2cec1e;

}

.img-crop{
    height: 14rem;
    width: 18rem;
    border-radius: 5%;
}
.article-inline .article-title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #111;
}
.date-article-small{
    font-size: 1rem;
    color: #333;
    margin-top: 2rem;
}
.article-title.small{
    margin-top: 30px;
    margin-left: 30px;
}

/* ////////////////////// */
/* TOUR PACKAGE SECTION */
/* ////////////////////// */

.recommended-packages.container{
    padding: 6rem 5.5rem;
    background-color: rgba(241, 160, 146, 0.37);
    margin-top: 6.2rem;
    width: 100rem;
    margin-right: 2rem;
}

.package-h4{
    font-size: 2.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #111;
}

.package-text{
    margin-top: 1rem;
    line-height: 1.2;
    width: 32rem;
}

.recommended-tours{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.destination{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-top: 1.2rem;
}    
.city{
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.recommended-price{
    font-size: 1.8rem;
    font-weight: bold;
    color: #111;
    margin-top: 4rem;
    display: inline;
}
.Book-trip{
    display: inline;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgba(33, 33, 224, 0.546);
    border-radius: 15%;
    text-decoration: none;
    color: #fff;
    width: 12rem;
    margin-left: 5rem;
    padding: 1rem;
}
.recommended-img{
    margin-top: 3rem;
    height: 10rem;
    margin-bottom: -8px;
}
.tour-span{
    margin-left: 20px;
    margin-top: 10px;
}
.logo.agency{
    height: 2.2rem;
    text-align: center;
}

.tour-agency{
    margin-top: 3.5rem;
    font-size: 1.2rem;
    display: inline-flex;
}
.img--big{
    width: 15rem;
}

/* ////////////////////// */
/* NEWSLETTER SECTION */
/* ////////////////////// */
.newsletter{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 2.5rem;
    width: 80rem;
    background-color: rgba(16, 119, 215, 0.696);
    margin-left: 12rem;
    margin-right: 24rem;
    border-radius: 1rem;
}
.our-newsletter{
    padding-bottom: 4rem;
    margin-left: 5rem;
    text-align:start;
    /* background-color: rgba(16, 119, 215, 0.696); */
    border-radius: 1rem;
    letter-spacing: 0.8px;
}
.letter-header{
    font-size: 2.6rem;
    padding: 5rem 0 1rem 2rem;
    font-weight: 600;
    color: #ffffff;
}
.letter-text{
    font-size: 1.1rem;
    padding-left: 2rem;
    line-height: 1.5;
    color: #fff;
    width: 25rem;
}
.subscribe-link{
    margin-top: 4rem;
    height: 6rem;
    text-align: left;
    border-radius: 6px;
    padding: 2.5rem;
    /* background-color: rgba(16, 119, 215, 0.696); */
}
.subscribe{
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    height: 135px;
}
.subscribe-us{
    color: #fff;
    background-color: #1500f996;
    padding: 0.8rem;
    text-decoration: none;
    margin-left: 7rem;
    border-radius: 0.4rem;
    margin-top: 10px;
    width: 80px;
    margin-top: 30px;
    display: inline-flex;
}
.logo-footer{
    height: 8rem;
}

/* ////////////////////// */
/* FOOTER SECTION */
/* ////////////////////// */
.section-footer{
    display: flex;
    padding: 3.2rem;
    background-color: rgba(210, 105, 30, 0.295);
    margin-left: 4rem;
    border-radius: 1rem;
}

.tour-links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 7rem;
    margin-top: 2rem;
    margin-left: 10rem;
}
.container.grid.grid--3{
    margin-left: 13rem;
}
.advert-text{
    margin-top: 2rem;
    font-size: 1.4rem;
}

.icons{
    margin-top: 3rem;
    display: flex;
    gap: 1.5rem;
}

.social-icon{
    width: 3rem;
    height: 2rem;
    color: #111;
}
.resources-title{
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.4;
}
.resources{
    margin-top: 1rem;
}
.resource{
    text-decoration: none;
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    margin-left: 1.2rem;
}
.text{
    text-decoration: none;
    color: #333;
}

@media(max-width: 1300px){
    .account{
        margin-right: 15rem;
    }
}