*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #333;
    line-height: 1;
    font-size: 400;
}

html{
    font-size: 62.5%;
}

/* //////////////////// */
/* ARTICLES HEADER */
/* /////////////////// */
.articles-header{
    padding: 3.2rem;
    background-color: cadetblue;
}
.article-nav{
    font-size: 1.4rem;
    text-align: center;
}
.category-links{
    display: flex;
    margin-top: 2rem;
    margin-left: 25rem;
}

.category-text{
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    list-style-type: none;
}
.category-link{
    list-style-type: none;
    margin: 1.5rem 1rem 2rem 3rem;
    padding-left: 3rem;
    
}

/* .article-nav:after{
    display: block;
    content: "";
    border: 1px solid #b9ff5c77;
} */

/* //////////////////// */
/* ARTICLES MAIN */
/* /////////////////// */
icles-paragraph{
    margin-top: 2rem;
    line-height: 1.5;
    max-width: 410px;
    text-align: justify;
    margin-left: 4.5rem;
    font-size: 1.2rem;
}
.link-title{
    text-decoration: none;
    list-style-type: none;
    color: #333;
}
.top-articles{
    margin-top: 4rem;
}
.top-header{
    margin-left: 18rem;
    font-size: 2rem;
    padding: 2rem;
}

.article-about{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    padding: 1rem;
    margin-top: 2rem;
}

.img-small{
    height: 15rem;
    width: 18rem;
    padding-right: 2rem;
}

.article-category{
    font-size: 1.4rem;
    text-decoration: none;
}
.category{
    text-decoration: none;
    color: #333;
}
.article-info{
    font-size: 1.2rem;
    width: 10rem;
    margin-top: 10px;
    width: 170px;
    line-height: 1.8;
    margin-right: 3rem;
}
.tags{
    display: flex;
    gap: 1.5rem;
    margin-left: 4.4rem;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.tags-text{
    margin-top: 0.7rem;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 0.3px;
}
.tag{
    border-radius: 40px;
    border: 2px solid green;
    padding: 7px;
}
.tag-link:link{
    text-decoration: none;
    color: #333;
    letter-spacing: 0.3px;
}
.categories{
    display: flex;
    margin-top: 3rem;
    margin-left: 4.4rem;
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    gap: 2rem;
}
.category-title{
    /* margin-top: 1rem; */
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.article-category{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
.upper{
    margin-top: 0.8rem;
}
.published{
    margin-top: 2rem;
    display: flex;
    gap: 6rem;
    margin-left: 4.55rem;
    letter-spacing: 0.5px;
}
.published-date{
    color: #333;
    font-size: 1.1rem;
}
.published-text{
    font-size: 1.15rem;
    font-weight: 600;
}

/* //////////////////// */
/* IMAGE GALLERY */
/* /////////////////// */
.photo-gallery{
    padding: 3rem;
    margin-top: 4.2rem;
    background-color: cadetblue;
}
.images{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.img-gallery{
    height: 16rem;
    border-radius: 6%;
}
.gallery-title{
    font-size: 40px;
    padding: 26px;
    text-align: center;
    margin-bottom: 2rem;
}
.gallery-cropped{
    height: 16rem;
    width: 15rem;
    border-radius: 5%;
}