/* ////////////////////// */
/* GENERAL */
/* ////////////////////// */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid #333; */
}

body{
    font-family: "Inter", sans-serif;
    color: #333;
    line-height: 1;
    font-weight: 400;
}

html {
    font-size: 62.5%;
}

.margin-right-sm{
    margin-right: 2.5rem;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8.6rem;
    padding: 0 4.8rem;
}

header{
    background-color: rgba(58, 126, 236, 0.285);
}

.container{
    margin: 0 auto;
    width: 120rem;
    padding: 0 3.2rem;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    gap: 3.2rem;
}

.grid--2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid--3{
    display: grid;
    grid-template-columns: repeat(3, 0.7fr);
}
.grid--4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.content-center{
    justify-content: center;
    text-align: center;
}
.mg-top{
    margin-top: 3.2rem;
}
.btn-article{
    text-decoration: none;
    color: #555;
    font-size: 1.2rem;
}
.down{
    padding-top: 1rem;
}
.link-4{
    text-align: center;
}
.email-write{
    padding: 0.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    width: 15rem;    
}
.text-email{
    margin-top: -30px;
}
.subscribe-text{
    font-size: 20px;
    color: rgb(0, 255, 34);
    padding: 5px;
    text-decoration: none;
}